.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.5rem;
  gap: 4.25rem;
}

.primary-navigation ul {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.header a {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.btn-in {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.btn-out {
  background-color: #ff4820;
  padding: 1rem 2.187rem;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  margin-left: 1.5125rem;
}

.mobile-nav-toggle {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1020px) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
  }

  .mobile-nav-toggle img {
    width: 2rem;
    height: 2rem;
  }

  .header-content > nav {
    display: none;
  }

  .header-content .sign-container {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    right: 1.5rem;
    top: 6rem;
    background: var(--clr-bg-footer);
    padding: 2rem 1.5rem;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    border-radius: 5px;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .mobile-menu .btn-in {
    margin-bottom: 1rem;
  }

  .btn-out {
    display: block;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  .header-content .sign-container {
    display: block;
  }

  .header-content {
    justify-content: flex-end;
  }

  .mobile-menu .sign-container {
    display: none;
  }

  .btn-out {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .mobile-menu {
    top: 8rem;
  }
}

@media (min-width: 1020px) {
  .header-content {
    justify-content: space-between;
  }
}
